<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h3>Konversi All Suhu</h3>
        </div>
        
        <p th:text="${celToFahre}"></p>
        <p th:text="${celToReam}"></p>
        <p th:text="${celToKelv}"></p>
        <hr>
        <p th:text="${fahreTo_Cel}"></p>
        <p th:text="${fahreToReamur}"></p>
        <hr>
        <p th:text="${reamToCel}"></p>
    </body>
</html>
